body {
    background-image: url("../images/bg1.png");
}

/* .btn {
    color: white;
} */

/* .card {
    width: 250px;
    height: 400px;
} */

.container {
    width: 85%;
}
.card .card-content {
    padding: 0px;
}

#modal-btn-container {
    width: 100%;
    margin: 0;
    background:#FF1177;
}

#modal-btn {
    width: 80%;
    font: 1em;
    padding:0;
    padding-left:3px;
    text-align: left;
}

#more-vert-btn {
    margin-left: 0px;
    background:#FF1177
}

#videos-display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.poster-container{
    width:20%;
    margin: 10px;
}

.modal {
    background-color: unset;
    overflow-y: scroll;
    text-align: center;
}

::-webkit-scrollbar { 
    display: none; 
}

.stream-icon {
    margin: 3px;
    float: left;
    width: 30%;
}

#maps {
    font-size: 12px;
}

.streamable {
    font-size: 10px; 
}